* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 30, 30);
}

.poker-table {
    background-color: rgb(15, 15, 15);
    width: 80vw;
    height: 80vh;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(15%);
}

.player {
    position: absolute;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgb(15, 15, 15);
}

.player1 {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.player2 {
    position: relative;
    left: 50%;
    top: 90%;
    transform: translateX(-50%) translateY(0%);
    z-index: 5;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardholder {
    box-shadow: 0px 0px 1px 1px lightseagreen;
    border-radius: 5%;
    width: 50%;
}

.player1card1 {}


@keyframes players-turn {
    0% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        border-radius: 50%;
    }

    50% {
        opacity: 1;
        border-radius: 50%;
    }

    100% {
        transform: scale(1.4, 1.4);
        opacity: 0;
        border-radius: 50%;
    }
}

.outerCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50;
    transform: translateX(-50%);
}

.innerCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}

.innerCircle:before {
    border: 7px solid rgba(55, 154, 187, 0.3);
    width: 40px;
    height: 40px;
    animation: players-turn 3s ease-out;
    content: "";
    animation-iteration-count: infinite;
}

.outerCircle:before {
    border: 7px solid rgba(173, 216, 230, 0.3);
    width: 60px;
    height: 60px;
    animation: players-turn 3s ease-out;
    content: "";
    animation-iteration-count: infinite;
}